name: "Chromatic"

on: push

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout branch
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0
      - name: Install
        uses: ./.github/composite-actions/install
      - name: Publish to Chromatic
        uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          skip: "renovate/**"
          workingDir: packages/arte-odyssey
