name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Install Playwright browsers
        run: pnpm exec playwright install

      - name: Run tests
        run: pnpm test

  biome:
    name: Biome
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Run Biome
        run: pnpm biome ci

  types:
    name: TypeScript
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Run typecheck
        run: pnpm typecheck
